* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0.5rem 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

img {
  margin: auto;
  padding: 1rem 0;
  border-radius: 50px !important;
  animation: fade 4s;
}

@keyframes fade {
  0% {
    opacity: 0;display: block;
  }

  100% {
    opacity: 1;
  }
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}